

button{
    height: 10vmin;
    width: 10vmin;
    border: none;
    border-radius: 5.5%;
}

button:hover{
    filter: brightness(0.9)
}

button:active{
    filter: brightness(0.85);
}

.wrap{

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vmin;
    height: 60vmin;
    width: 45vmin;
    background-color: #777;
}

.buttons{
    display: grid;
    gap: 0.5vmin;
    grid-template-columns: repeat(4, 10vmin);
}

.operator, .result, .ac{
    background-color:coral ;
    font-size: 5vmin;
    font-weight: 1000;
    padding: 0.5vmin;
}

.num{
    font-size: 6vmin;
}
.display{
    display: grid;
    height: 12vmin;
    width: 42vmin;
    background-color: #fff;
    gap: 10vmin;
    align-items: center;
    justify-content: center;
    border-radius: 1.4vmin;
    margin-bottom: 2vmin;
}
.input{
    text-align:end;
    padding-right: 1.5vmin;
    line-height: 9vmin;
    height: 10vmin;
    width: 38.5vmin;
    font-size: 4.5vmin;
    font-weight: 700;
    
    background-color: #fff;
    border-radius: 0.88vmin;
}
